<%= layout("/layouts/boilerplate.ejs") %>

    <body>
        <h1>Add listing</h1>
        <hr>
        <div class="row">
            <div class="col-8 offset-2">
                <form action="/listing" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                   <div class="mb-3">
                     <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" class="form-control" name="listing[title]" required>
                    <div class="valid-feedback">Title looks good</div>   <!--success text -->
                    <div class="invalid-feedback">please enter the title correctly</div>
                    
                   </div>
                    <br>
                    <label for="desc" class="form-label">Description</label>
                    <input type="text" class="form-control" id="desc" name="listing[description]" required>
                    <br>
                    <label for="img" class="form-label">Image</label>
                    <input type="file" id="img" class="form-control" name="listing[image]"
                        required>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="Price" class="form-label">Price</label>
                        <input  id="Price" class="form-control" name="listing[price]" required>
                        </div>
                        <div class="col-md-8">
                            <label for="loc" class="form-label">location</label>
                        <input type="text" id="loc" class="form-control" name="listing[location]" required>
                        </div>
                    </div>
                    <label for="country" class="form-label">country</label>
                    <input type="text" id="country" class="form-control" name="listing[country]" required><br>
                    <button class="btn btn-dark adderbtn">Add</button>
                </form>
            </div>
        </div>
    </body>