<%= layout("/layouts/boilerplate.ejs") %>
<body >
    <!-- <img src="\public\Errorocc.png" alt="" width="200px" height="200"><br> -->
   <div class="alert alert-danger" >
     <!-- <h1><%= status %></h1> -->
    <b><%=message %></b>
   </div>
</body> 
</html>
